<form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data">
  <label class="btn btn-default btn-file">
    <input type="file" name="file" value="Upload">
  </label>
  <input class="btn btn-lg btn-default" type="submit" value="Upload">
</form>
