<form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data">
  <label class="btn btn-default btn-file">
    <input type="file" name="file" value="Upload">
  </label>
  <div style="margin-top: 10px">
    <button class="btn btn-lg btn-default btn-spinz" type="submit" value="Upload"><i class="spinz fa"></i>Upload</button>
  </div>
</form>
