<html>
  <body>
    <p>Upload some shit</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" value="Upload">
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
