<form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data">
  <label class="btn btn-default btn-file">
    <input type="file" name="files[]" value="Upload" multiple />
  </label>
  <div style="margin-top: 10px">
    <button class="btn btn-secondary btn-spinz" style="width: 142px;" type="submit" value="Upload"><i class="spinz fa"></i>Upload</button>
  </div>
</form>
